In [25]:
import yfinance as yf
from datetime import date, datetime
import pandas as pd 

start_date = date(2016, 6, 21)
end_date = date(2021, 3, 17)

# names_list = ['^GSPC', '000001.SS', '^KS11', '^N225']
names_list = ['^N225']
graph_names = ['SP500', 'SSE Composite Index', 'KOSPI', 'Nikkei225']
index_list = []

i = 0
tickerSymbol = names_list[i]
tickerData = yf.Ticker(tickerSymbol)

df = tickerData.history(period='1d', start=start_date, end=end_date).dropna()
df.drop(['Stock Splits', 'Dividends', 'High', 'Volume', 'Low', 'Open'], axis='columns', inplace=True)
df = pd.DataFrame(data = df)
df.index = pd.to_datetime(df.index)
df["Date"] = df.index
df.drop(['Date'], axis='columns', inplace=True)

df.head()

                   Close
Date
2016-06-21  16169.110352
2016-06-22  16065.719727
2016-06-23  16238.349609
2016-06-24  14952.019531
2016-06-27  15309.209961

In [26]:
len(df["Close"])

1158

In [27]:
df.tail()

                   Close
Date
2021-03-10  29036.560547
2021-03-11  29211.640625
2021-03-12  29717.830078
2021-03-15  29766.970703
2021-03-16  29921.089844

In [28]:
df.to_excel('d:\Курсова\Курсова 2021\Valid sample Nikkei.xlsx')